.botao {
    background-color: #6278f7;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none; 
    cursor: pointer;
    color: #FFF;
    margin: 16px 0;
}

.botao:hover {/*muda a cor quando o botão está com o mouse*/
    color: #95FFD4
}